<!DOCTYPE html>
<html>
<head>
	<meta name="robots" content="noindex, nofollow">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>INTRANET</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
	<%- include('homebtn'); -%>
	
	<main>
		<h1>LOGIN</h1>

		<form action="/adminpanel" method="post">
			<div class="form-input">
				<label for="jmeno">Username:</label>
				<input type="text" id="jmeno" name="jmeno" required>
			</div>

			<div class="form-input">
				<label for="heslo">Password:</label>
				<input type="password" id="heslo" name="heslo" required>
			</div>
			
			<button type="submit">Přihlásit</button>
		</form>
	</main>
</body>
</html>
