<!DOCTYPE html>
<html>

<head>
	<meta name="robots" content="noindex, nofollow">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EFT CZ/SK</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
	<%- include('homebtn'); -%>
	
	<main>
		<h1>EFT CZ/SK HUB</h1>
		<h3>Žádost odeslaná!</h3>

		<section class="ticket-successful">
			<p>Stav své žádosti můžeš kontrolovat přes následujici ID</p>
			<div class="ticket-id"><%= ID %></div>
		</section>
	</main>
</body>
</html>